<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ArticleMapper">

    <update id="setCategoryNull" parameterType="java.util.List">

        update ms_article
        set category_id=null
        where id in (
        <foreach collection="list" item="article" separator=",">
            #{article.id}
        </foreach>
        )
    </update>
    <select id="findTitleById" parameterType="long" resultType="java.lang.String">
        select title from ms_article where id=#{articleId}
    </select>

</mapper>
